.content{ float:left; width:100%;}

.rg-image-wrapper{
	position:relative;
	padding:0px 0px;
	/*background:transparent url(images/fur/black.png) repeat top left;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;*/
	min-height:20px;
}
.rg-image{
line-height: 0;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 20%; margin-top:10px;
}

.rg-gallery{ float:left; width:100%;}

.rg-image img{
	max-height:100%;
	max-width:100%;
}
.rg-image-nav a{
	position:absolute;
	top:0px;
	left:23%;
	background: url(images/fur/nav.png) no-repeat -20% 50%;
	width:28px;
	height:100%;
	text-indent:-9000px;
	cursor:pointer;
	/*opacity:0.3;*/
	outline:none;
	-moz-border-radius: 10px 0px 0px 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	border-radius: 10px 0px 0px 10px;
}
.rg-image-nav a.rg-image-nav-next{
	right:23%;
	left:auto;
	background-position:115% 50%;
	-moz-border-radius: 0px 10px 10px 0px;
	-webkit-border-radius: 0px 10px 10px 0px;
	border-radius: 0px 10px 10px 0px;
}
.rg-image-nav a:hover{
	/*opacity:0.8;*/
}
.rg-caption {
	text-align:center;
	margin-top:15px;
	position:relative;
}
.rg-caption p{
	font-size:11px;
	letter-spacing:2px;
	font-family: 'Trebuchet MS', 'Myriad Pro', Arial, sans-serif;
	line-height:16px;
	padding:0 15px;
	text-transform:uppercase;
}
.rg-view{
	height:15px; display:none;
}
.rg-view a{
	/*display:block;
	float:right;
	width:16px;
	height:16px;
	margin-right:3px;
	background:#464646 url(images/fur/views.png) no-repeat top left;
	border:3px solid #464646;
	opacity:0.8;*/
}
.rg-view a:hover{
	/*opacity:1.0;*/
}
.rg-view a.rg-view-full{
/*	background-position:0px 0px;*/
}
.rg-view a.rg-view-selected{
	background-color:#6f6f6f;
	border-color:#6f6f6f;
}
.rg-view a.rg-view-thumbs{
	background-position:0px -16px;
}
.rg-loading{
	width:46px;
	height:46px;
	position:absolute;
	top:50%;
	left:50%;
	background:#000 url(images/fur/ajax-loader.gif) no-repeat center center;
	margin:-23px 0px 0px -23px;
	z-index:100;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	opacity:0.7;
}


/* CSS reset 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}*/
fieldset,img { 
	border:0;
}
input[type="text"]{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	/*width:190px;*/
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
.rg-image-nav{ width:50%;}

/* Elastislide Style */
.es-carousel-wrapper{
	/*background: #101010;
	border-radius: 10px;
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow:0px 1px 3px rgba(0, 0, 0, 0.9);*/
	padding:0px 27px;		
	position:relative;
	margin:9px;
}
.es-carousel{
	overflow:hidden;
	/*background:#000;*/
}
.es-carousel ul{
	display:none;
}
.es-carousel ul li{
		float:left;
	display:block;
	height:60px;
}
.es-carousel ul li a{
	display:block;
	border-style:solid;
	border-color:#222;
	opacity:0.8;
	-webkit-touch-callout:none;
	/* option */
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.es-carousel ul li.selected a{
	border-color:#fff;
	opacity:1.0;
}
.es-carousel ul li a img{
	display:block;
	border:none;
	max-height:100%;
	max-width:100%;
}
.es-nav span{
	position:absolute;
	top:50%;
	left:8px;
	background:transparent url(images/fur/nav_thumbs.png) no-repeat top left;
	width:14px;
	height:26px;
	margin-top:-13px;
	text-indent:-9000px;
	cursor:pointer;
	opacity:0.8;
}
.es-nav span.es-nav-next{
	right:8px;
	left:auto;
	background-position:top right;
}
.es-nav span:hover{
	opacity:1.0;
}

.rg-thumbs{bottom: 0;    
    position: absolute;
	z-index:9999;
	width:100%;
	height:0px;
	bottom:88px;
}