/*	Responsive Accordion v1.1, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	============================================================================================ */

/*	Table of Contents
//	==================================================
//		#Reset
//		#Themes


/*	#Reset
//	================================================== */



	.accordion {
		margin: 0 0 20px 0;
		padding: 0;
		list-style-type: none;
	}

	.accordion.bm-remove	{ margin-bottom: 0;    }
	.accordion.bm-smaller	{ margin-bottom: 5px;  }
	.accordion.bm-small		{ margin-bottom: 10px; }
	.accordion.bm-medium	{ margin-bottom: 20px; }
	.accordion.bm-large		{ margin-bottom: 30px; }
	.accordion.bm-large		{ margin-bottom: 40px; }

	.accordion li {
		margin: 0 0 5px 0;
		padding: 0;
	}

	.accordion li:last-child { margin-bottom: 0; }

	.accordion li .accordion-head { cursor: pointer; }

	.accordion li .accordion-head.active {/*-----*/
	font-weight: bold; 	
	background:red; 
	color:#fff;  
	font-size:14px;}


/*	#Themes
//	================================================== */

	.accordion-default.accordion li .accordion-head {/*-----*/
		padding: 10px 30px 10px 10px;
		font-weight: bold;
		color:#000;
		font-size:14px;
		position: relative;
		background:#fff;
		border:1px solid #dddddd;
		
	}

	.accordion-default.accordion li .accordion-head i {
		position: absolute;
		top: 12px;
		right: 10px;
	}

	.accordion-default.accordion li .accordion-panel {
		
		border-top: 0;
		padding: 0;
		background: #FFF; text-align:justify; font-size:12px; overflow:hidden;
	}
	
	.accordion-default.accordion li .accordion-panel .search_area_big{ margin-top:0;}
	.accordion-default.accordion li .accordion-panel .search_area_big label.pad_tb{  display:block; font-weight:bold;}
	
	